.register-box {
  position: absolute;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  top: 50%;
  left: 25%;
  width: 390px;
  padding: 35px;
}

.register-box h2 {
  font-family: 'Permanent Marker', cursive;
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 7vh;
}

.register-box .user-register-box {
  position: relative;
}

.register-box .user-register-box input {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-size: 2.5vh;
}

.register-box .user-register-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-size: 2.5vh;
}

.register-box .user-register-box p {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  font-size: 2vh;
}

.register-box .user-register-box input:focus ~ label,
.register-box .user-register-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #40f521;
  font-size: 2vh;
}


.register-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.register-box button:hover {
  background: #40f521;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #40f521,
  0 0 25px #fff,
  0 0 50px #40f521,
  0 0 110px #40f521;
}
