.setting-box {
    position: absolute;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    width: 390px;
    padding: 35px;

    }
    
    .setting-box h2 {
        font-family: 'Permanent Marker', cursive;
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 7vh;
    }

    .setting-box .user-setting-box {
        position: relative;
      }

    .setting-box .user-setting-box input {
        width: 100%;
        padding: 10px 0;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
        font-size: 2.5vh;
      }

    .setting-box .user-setting-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        color: #fff;
        pointer-events: none;
        transition: .5s;
        font-size: 2.5vh;
    }

    .setting-box .user-setting-box p {
        position: absolute;
        top:0;
        left: 0;
        padding: 15px 0;
        color: #fff;
        pointer-events: none;
        transition: .5s;
        font-size: 2vh;
    }

    .setting-box .user-setting-box input:focus ~ label,
    .setting-box .user-setting-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #40f521;
        font-size: 2vh;
    }
      
    
    .setting-box button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    
    .setting-box button:hover {
        background: #40f521;
        color: black;
        border-radius: 5px;
        box-shadow: 0 0 5px #40f521,
        0 0 25px #fff,
        0 0 50px #40f521,
        0 0 110px #40f521;
    }
    
    .setting-box button::before,
    .setting-box button::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        transition: all 0.3s ease;
    }
    
    .setting-box button::before {
        top: 0;
        left: -100%;
        background-color: #40f521;
    }
    
    .setting-box button:hover::before {
        left: 0;
    }
    
    .setting-box button::after {
        bottom: 0;
        right: -100%;
        background-color: #40f521;
    }
    
    .setting-box button:hover::after {
        right: 0;
    }

    #play_btn_area:hover span {
        color: black;
        z-index: 1;
    }
      

    .setting-box button span {
        position: relative;
        z-index: 2;
        color: white;
    }